.formLogin{
    border: 1px solid #e5e5e5;
    border-radius: 8px;
}
.formItem{
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin: 4px;
}
.formItem > label{
    color: #0c0c0c;
    padding: 4px;
}
.formItem > input{
    height: 24px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}
.formLogin  button{
    height: 24px;
    width: 100px;
}

.formItem > .alert{
color: rgb(110, 14, 14);
}